:root {
  --primary-gradient: linear-gradient(333deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  --middle-counter: radial-gradient(circle, rgb(147, 21, 55) 0%, rgb(72, 15, 37) 92%);
  --red-color: rgba(253, 29, 29, 1);

}

@media screen and (max-width: 400px) {

  button {
      width: 5em;
      height: 10em;
      margin: 15px;
  }

  p {
      font-size: 1em;
  }

  h3 {
      transform: translateY(20px);
  }

  #session-length,
  #break-length {
      margin: 0px;
      padding: 12px;
      -webkit-backdrop-filter: blur(05px);
      backdrop-filter: blur(45px);
      border-radius: 20px;

  }
}

body {
  width: 100%;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  color: rgba(252, 176, 69, 1);
}

h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-width: 8px;
  letter-spacing: .15em;
  border-style:dotted;
  border-color: rgb(157, 24, 164);
  color: rgb(212, 145, 221);
  background: var(--middle-counter);
  border-radius: 40px;
}

.flex-container {
  max-width: iherit;
  height: auto;
  max-height: 946px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 4em;
  margin: 5%;
  max-width: 350px;
  height: auto;
}

.break-session {
  padding: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


button {
  width: 11vh;
  max-width: 150px;
  height: 7vh;
  max-height: 200px;
  margin-bottom: 6vh;
  margin-left: 6vh;
  margin-right: 6vh;
  border-radius: 180px;
  border: none;
  cursor: pointer;
  outline: 3px solid;
  outline-color: var(--red-color);
  outline-offset: 10px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  font-family: 'Montserrat';
  font-style: italic;
  background: var(--primary-gradient);
}

button:hover {
  width: 12vh;
  height: 5.5vh;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
  color: rgba(131, 58, 180, 1);
}

div {
  text-align: center;
}

i {
  font-size: 1.7em;}

p {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  margin: auto;
}

#session-label,
#break-label {
  font-size: 1.45em;
  transform: translateY(55px);
}

#heading2 {
  width: 350px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: auto;
  border-radius: 20px;
  background: var(--primary-gradient);
}

#break-length,
#session-length {
  transform: translateY(-20px);
}

#session-length,
#break-length {
    font-size: 3rem;
}

#dancerImage {
  display: flex;
  position: absolute;
  transform: translateX(55px);
  z-index: -2;
}

