html {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: black;
}